# Dictionary
- methods
- attributes
- extract values from dictionary

# User define function
- defualt function
- required arguments functions
- optional arguments functions
- pass arguments with values and key=values

In [1]:
l1 = ['qasim', 'Aslam','03151234567','077'] 
#all elemnents are stored with index number
# 0 = name
# 1 = father_name
# 2 = cell
# 3 = id
print(l1[0], l1[1], l1[2], l1[3])

qasim Aslam 03151234567 077

In [2]:
print(*l1) # same as above

qasim Aslam 03151234567 077

# Dictionary

In [3]:
# item = key:value (pair)
obj1 = {
    'name' : 'Muhammad Qasim',
    'fname' : 'Muhammad Aslam',
    'cell' : '03152222222',
    'id' : '077',
    'age':50,
}

obj1

{'name': 'Muhammad Qasim',
 'fname': 'Muhammad Aslam',
 'cell': '03152222222',
 'id': '077',
 'age': 50}

In [4]:
obj1[0]

KeyError: 0

In [5]:
obj1['name']

'Muhammad Qasim'

In [6]:
obj1['fname']

'Muhammad Aslam'

In [7]:
obj1['cell']

'03152222222'

In [8]:
obj1['id']

'077'

In [9]:
# element = key:value (pair)
# key = string, integer
obj1 = {
    'name' : 'Muhammad Qasim',
    'fname' : 'Muhammad Aslam',
    'cell' : '03152222222',
    'id' : '077string',
    'age':50,
    0 : 'pakistan zinda bad',
}

obj1[0]

'pakistan zinda bad'

In [10]:
# element = key:value (pair)
# key = string, integer
obj1 = {
    'name' : 'Muhammad Qasim',
    'fname' : 'Muhammad Aslam',
    'cell' : '03152222222',
    'id' : '077',
    'age':50,
    0 : 'pakistan zinda bad',
    ['abc'] : 'hello world'
}

obj1[0]

TypeError: unhashable type: 'list'

In [11]:
obj1 = {
    'name' : 'Muhammad Qasim',
    'fname' : 'Muhammad Aslam',
    'cell' : '03152222222',
    'id' : '077',
    'age':50,
    0 : 'pakistan zinda bad',
    ('abc') : 'hello world'
}

obj1[0]

'pakistan zinda bad'

In [12]:
obj1.keys()

dict_keys(['name', 'fname', 'cell', 'id', 'age', 0, 'abc'])

In [14]:
# element = key:value (pair)
# key = string, integer
obj1 = {
    'name' : 'Muhammad Qasim',
    'fname' : 'Muhammad Aslam',
    'cell' : '03152222222',
    'id' : '077',
    'age':50,
    0 : 'pakistan zinda bad',
    ('abc') : 'hello world'
}

obj1[0]

'pakistan zinda bad'

In [17]:
# element = key:value (pair)
# key = string, integer
obj1 = {
    'name' : 'Muhammad Qasim',
    'fname' : 'Muhammad Aslam',
    'cell' : '03152222222',
    'id' : '077',
    'age':50,
    0 : 'pakistan zinda bad',
    'abc' : ['a','b','c']
}

obj1['abc']

['a', 'b', 'c']

In [18]:
obj1['abc'][1]

'b'

# Function
- function decr
- function body
- function calling

def name(parameter1, parameter2):
    statment1
    statment2
    statment3
    
name(arg1,arg2)

In [19]:
def abc(name, fname, course): # function decr
    print(name,fname, course) # function body

In [20]:
abc('Qasim','Aslam','A.I') # function call

Qasim Aslam A.I

In [21]:
abc('A.i','Aslam','Qasim')

A.i Aslam Qasim

In [22]:
abc("Qasim",'Aslam')

TypeError: abc() missing 1 required positional argument: 'course'

In [23]:
l1 = ['Qasim','Aslam',"A.I"]

abc(l1[0], l1[1], l1[2])

Qasim Aslam A.I

In [24]:
abc(*l1)

Qasim Aslam A.I

In [25]:
abc(course="A.III", name="QAsim", fname="Aslam")

QAsim Aslam A.III

In [26]:
obj = {'course':'A.I',
      'name':'Muhammad Qasim',
      'fname':'Aslam'}

abc(**obj)
# abc(course="A.I", name="Muhammad Qasim", 'fname'="Aslam")

Muhammad Qasim Aslam A.I

# Dictionary Methods

In [27]:
a = 5
b = 5

print(id(a))
print(id(b))

94337809220608
94337809220608

In [28]:
obj1

{'name': 'Muhammad Qasim',
 'fname': 'Muhammad Aslam',
 'cell': '03152222222',
 'id': '077',
 'age': 50,
 0: 'pakistan zinda bad',
 'abc': ['a', 'b', 'c']}

In [29]:
obj2 = obj1
print(id(obj1))
print(id(obj2))

140178932214304
140178932214304

In [30]:
a=obj1.copy()
a

{'name': 'Muhammad Qasim',
 'fname': 'Muhammad Aslam',
 'cell': '03152222222',
 'id': '077',
 'age': 50,
 0: 'pakistan zinda bad',
 'abc': ['a', 'b', 'c']}

In [31]:
obj

{'course': 'A.I', 'name': 'Muhammad Qasim', 'fname': 'Aslam'}

In [32]:
print(id(obj1))
print(id(a))

140178932214304
140178932212072

In [33]:
obj.clear()
obj

{}

In [34]:
l1 = ['name','fname','course','timing','address']
dict.fromkeys(l1)

{'name': None, 'fname': None, 'course': None, 'timing': None, 'address': None}

In [35]:
a1 = dict.fromkeys(l1, 'abc')
#a1 = dict.fromkeys(l1, value="##")
a1

{'name': 'abc',
 'fname': 'abc',
 'course': 'abc',
 'timing': 'abc',
 'address': 'abc'}

In [36]:
a1['cell']

KeyError: 'cell'

In [37]:
a1.get('name')

'abc'

In [38]:
a1.get('cell')

In [39]:
a1.get('cell','NotValid')

'NotValid'

In [40]:
a1

{'name': 'abc',
 'fname': 'abc',
 'course': 'abc',
 'timing': 'abc',
 'address': 'abc'}

In [41]:
a1.get('contactNumber')
# extract value from key without generate error

In [42]:
l1=a1.keys()
l1

dict_keys(['name', 'fname', 'course', 'timing', 'address'])

In [43]:
names = ['qasim','asif','hamza','konain']

for name in names:
    if name=='qasim':
        print(True)

True

In [44]:
'qasim' in names

True

In [45]:
'timing' in l1

True

In [46]:
obj1

{'name': 'Muhammad Qasim',
 'fname': 'Muhammad Aslam',
 'cell': '03152222222',
 'id': '077',
 'age': 50,
 0: 'pakistan zinda bad',
 'abc': ['a', 'b', 'c']}

In [47]:
obj1.keys()

dict_keys(['name', 'fname', 'cell', 'id', 'age', 0, 'abc'])

In [48]:
obj1.values()

dict_values(['Muhammad Qasim', 'Muhammad Aslam', '03152222222', '077', 50, 'pakistan zinda bad', ['a', 'b', 'c']])

In [50]:
obj1.items()

dict_items([('name', 'Muhammad Qasim'), ('fname', 'Muhammad Aslam'), ('cell', '03152222222'), ('id', '077'), ('age', 50), (0, 'pakistan zinda bad'), ('abc', ['a', 'b', 'c'])])

In [53]:
a1 = {
    0:'A',
    1:'B',
    3:'D',
    2:'C'
}
a1

{0: 'A', 1: 'B', 3: 'D', 2: 'C'}

In [54]:
sorted(a1)

[0, 1, 2, 3]

In [55]:
sorted(a1.keys())

[0, 1, 2, 3]

In [56]:
obj1

{'name': 'Muhammad Qasim',
 'fname': 'Muhammad Aslam',
 'cell': '03152222222',
 'id': '077',
 'age': 50,
 0: 'pakistan zinda bad',
 'abc': ['a', 'b', 'c']}

In [57]:
for e in obj1:
    print(e)

name
fname
cell
id
age
0
abc

In [58]:
for k in obj1.keys():
    print(k)

name
fname
cell
id
age
0
abc

In [59]:
for v in obj1.values():
    print(v)

Muhammad Qasim
Muhammad Aslam
03152222222
077
50
pakistan zinda bad
['a', 'b', 'c']

In [60]:
a , b = [20, 25]
print(a,b)

20 25

In [61]:
a , b, c = 20, 35, 'abc'
c

'abc'

In [62]:
for k,v in obj1.items():
#     print(e[0], e[1])
    print("key=",k,'Value=',v)
    #print(e)

key= name Value= Muhammad Qasim
key= fname Value= Muhammad Aslam
key= cell Value= 03152222222
key= id Value= 077
key= age Value= 50
key= 0 Value= pakistan zinda bad
key= abc Value= ['a', 'b', 'c']

In [63]:
obj1

{'name': 'Muhammad Qasim',
 'fname': 'Muhammad Aslam',
 'cell': '03152222222',
 'id': '077',
 'age': 50,
 0: 'pakistan zinda bad',
 'abc': ['a', 'b', 'c']}

In [64]:
obj1.pop('abc')

['a', 'b', 'c']

In [65]:
obj1

{'name': 'Muhammad Qasim',
 'fname': 'Muhammad Aslam',
 'cell': '03152222222',
 'id': '077',
 'age': 50,
 0: 'pakistan zinda bad'}

In [66]:
obj1.popitem()

(0, 'pakistan zinda bad')

In [67]:
obj1

{'name': 'Muhammad Qasim',
 'fname': 'Muhammad Aslam',
 'cell': '03152222222',
 'id': '077',
 'age': 50}

In [68]:
obj1.setdefault('xyz','pak')
obj1

{'name': 'Muhammad Qasim',
 'fname': 'Muhammad Aslam',
 'cell': '03152222222',
 'id': '077',
 'age': 50,
 'xyz': 'pak'}

In [69]:
a1={'a':'A',
   'b':'B',
   'name':'Ali'}

obj1.update(a1)
obj1

{'name': 'Ali',
 'fname': 'Muhammad Aslam',
 'cell': '03152222222',
 'id': '077',
 'age': 50,
 'xyz': 'pak',
 'a': 'A',
 'b': 'B'}

In [70]:
{'a','b','a','c','a'} #set

{'a', 'b', 'c'}

In [71]:
a1 = {} #empty dictionary
a1

{}

In [72]:
a1['name'] = 'qasim'
a1['fname'] = 'Aslam'
a1['age'] = 20

a1

{'name': 'qasim', 'fname': 'Aslam', 'age': 20}

In [73]:
db = []
while True:
    print("press 'x' for exit")
    name = input("Enter your Name")
    fname = input("Father's Name ")
    r = {}
    if name!='x' or fname!='x':
        r['name'] = name
        r['fname'] = fname
        db.append(r)
    else:
        break
        db

press 'x' for exit
Enter your Nameqasim
Father's Name Aslam
press 'x' for exit
Enter your Namea
Father's Name a
press 'x' for exit
Enter your Nameb
Father's Name b
press 'x' for exit
Enter your Namec
Father's Name c
press 'x' for exit
Enter your Namex
Father's Name x

In [74]:
db

[{'name': 'qasim', 'fname': 'Aslam'},
 {'name': 'a', 'fname': 'a'},
 {'name': 'b', 'fname': 'b'},
 {'name': 'c', 'fname': 'c'}]

# functions

In [75]:
print("Saylani Welfer Trust")
print("Bhadra bad")
print("Karachi")
print("A.I")

Saylani Welfer Trust
Bhadra bad
Karachi
A.I

In [76]:
print("Saylani Welfer Trust")
print("Bhadra bad")
print("Karachi")
print("A.I")

Saylani Welfer Trust
Bhadra bad
Karachi
A.I

### Defualt function (Aisa function jo apsy koi argument na ly)

In [77]:
def info():
    print("Saylani Welfer Trust")
    print("Bhadra bad")
    print("Karachi")
    print("A.I")

In [78]:
info()

Saylani Welfer Trust
Bhadra bad
Karachi
A.I

In [80]:
info()

Saylani Welfer Trust
Bhadra bad
Karachi
A.I

# Required Arguments

In [81]:
def student(name, sid, fname):
    abc = """
    Saylani Welfer Trust
    Bhadra bad Karachi
    Name: {}
    father's Name: {}
    Roll no: {}
    """.format(name, fname, sid)
    
    return abc

In [82]:
print(student('Ali','Hamza','007'))

    Saylani Welfer Trust
    Bhadra bad Karachi
    Name: Ali
    father's Name: 007
    Roll no: Hamza

In [83]:
print(student(name="Qasim",fname="Aslam",sid='0000'))

    Saylani Welfer Trust
    Bhadra bad Karachi
    Name: Qasim
    father's Name: Aslam
    Roll no: 0000

In [84]:
l1 = [{'name':'Ali', 'fname':'Hamza', 'sid':1},
     {'name':'Hamza', 'fname':'Hamza2', 'sid':2},
     {'name':'Junaid', 'fname':'Hamza3', 'sid':3}]

In [85]:
for d in l1:
    print(student(**d))

    Saylani Welfer Trust
    Bhadra bad Karachi
    Name: Ali
    father's Name: Hamza
    Roll no: 1


    Saylani Welfer Trust
    Bhadra bad Karachi
    Name: Hamza
    father's Name: Hamza2
    Roll no: 2


    Saylani Welfer Trust
    Bhadra bad Karachi
    Name: Junaid
    father's Name: Hamza3
    Roll no: 3

In [86]:
a1 = input("name")
a2 = int(input("sid"))
for d in l1:
    if d['name']==a1 and d['sid']==a2:
        print(student(**d))
        print("Valid user")
        break
    else:
        print("Invalid user")

nameAli
sid1

    Saylani Welfer Trust
    Bhadra bad Karachi
    Name: Ali
    father's Name: Hamza
    Roll no: 1

Valid user

In [87]:
print(student('qasim','aslam','3')) #sequance args

    Saylani Welfer Trust
    Bhadra bad Karachi
    Name: qasim
    father's Name: 3
    Roll no: aslam

In [88]:
print(student(name='qasim',sid=7, fname='Aslam'))# key=value args

    Saylani Welfer Trust
    Bhadra bad Karachi
    Name: qasim
    father's Name: Aslam
    Roll no: 7

In [89]:
l1 = ['qasim','aslam',7]
print(student(*l1))

    Saylani Welfer Trust
    Bhadra bad Karachi
    Name: qasim
    father's Name: 7
    Roll no: aslam

In [90]:
l2 = {'name':'qasim', 'fname':'Aslam','sid':27}
print(student(**l2))

    Saylani Welfer Trust
    Bhadra bad Karachi
    Name: qasim
    father's Name: Aslam
    Roll no: 27

In [91]:
def abc(a=0, b=0, c=0):
    return a + b + c

print(abc(1))
print(abc(1,7))
print(abc(1,8,9))
print(abc(c=20))

1
8
18
20

In [92]:
abc(1,8,9,0,20,78,89)

TypeError: abc() takes from 0 to 3 positional arguments but 7 were given

In [93]:
def abc(*a):
    return sum(a)

In [94]:
print(abc(1,7,9,10,7))
print(abc(1))
print(abc(2,8,9))

34
1
19

In [95]:
def abc(name,fname, *a):
    print("user: ", name)
    print("fname:",fname)
    print(sum(a))
    
abc('qasim', 'aslam', 27,8,9,7,6,5)

user:  qasim
fname: aslam
62

In [96]:
def abc(**d):
    print(d)
    
print(abc(name='qasim', fname='ali'))
print(abc(a='aa', b='cc'))

{'name': 'qasim', 'fname': 'ali'}
None
{'a': 'aa', 'b': 'cc'}
None

In [97]:
obj1

{'name': 'Ali',
 'fname': 'Muhammad Aslam',
 'cell': '03152222222',
 'id': '077',
 'age': 50,
 'xyz': 'pak',
 'a': 'A',
 'b': 'B'}

In [ ]:
data = [{'name' : 'Mehran', 'fname': 'Kamal', 'pass': True},
       {'name' : 'Ali', 'fname': 'Kamal', 'pass': True},
        {'name' : 'Azhar', 'fname': 'Kamal', 'pass': True},
{'name' : 'Irfan', 'fname': 'Kamal', 'pass': False},
{'name' : 'Aslam', 'fname': 'Kamal', 'pass': False}
       ]
registered = []
ind  = data.copy()
i = 0
l1 = []
for x in data:
    ind  = data.copy()
    if x['pass'] == True:
        registered.append(data[i])
    else:
        l1.append(ind.pop(i))    
    i+=1
data = l1
# data.pop(*ind)


print("Registered Students")
for i in registered:
    print(i['name'])
    print(i['fname'])
    print("Parring Status:", i['pass'])
    print()

In [ ]:
data

In [ ]:
ind