Pre define functions<br>
anyName() #pre define function<br>
ref.anyName() # Pre define method<Br>
ref.anyName # Attributes
    
# Operators

# Control flow

In [ ]:
print("Saylani@729")

In [1]:
a = "PakiStan"
print(a)
print(type(a))

PakiStan
<class 'str'>

# String Class Method and Attributes

In [2]:
a = "paKistan ziNda bad"
print(a)

paKistan ziNda bad

In [3]:
a.capitalize() #inline

'Pakistan zinda bad'

In [4]:
a.upper()

'PAKISTAN ZINDA BAD'

In [5]:
a.title()

'Pakistan Zinda Bad'

In [6]:
print(a)

paKistan ziNda bad

In [8]:
a.lower()

'pakistan zinda bad'

In [9]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [10]:
print?

In [12]:
a.center??

In [14]:
abc = """
Saylani Welfer Trust
City: Karachi
Country: Pakistan
"""

print(abc)

Saylani Welfer Trust
City: Karachi
Country: Pakistan

In [15]:
abc = '''
Saylani Welfer Trust
City: Karachi
Country: Pakistan
'''

print(abc)

Saylani Welfer Trust
City: Karachi
Country: Pakistan

In [17]:
abc = """
*******PIAIC********
Saylani Welfer Trust
Name: Muhammad Qasim
Father's Name: Muhammad Aslam
Roll No: 786
"""

print(abc)

*******PIAIC********
Saylani Welfer Trust
Name: Muhammad Qasim
Father's Name: Muhammad Aslam
Roll No: 786

In [18]:
name = "Muhammad Qasim"
father_name = "Muhammad Aslam"
roll_no = 786

abc = """
*******PIAIC********
Saylani Welfer Trust
Name: {}
Father's Name: {}
Roll No: {}
"""

print(abc.format(name, father_name, roll_no))

*******PIAIC********
Saylani Welfer Trust
Name: Muhammad Qasim
Father's Name: Muhammad Aslam
Roll No: 786

In [19]:
a=print("pakistan")
print(a)

pakistan
None

In [20]:
a = input("Enter your Name")
a

Enter your NameQasim

'Qasim'

In [21]:
name = input("Enter your name")
father_name = input("Enter your Father's Name")
roll_no = input("Enter your Roll no")

abc = """
*******PIAIC********
Saylani Welfer Trust
Name: {}
Father's Name: {}
Roll No: {}
"""

print(abc.format(name, father_name, roll_no))

Enter your nameAsif
Enter your Father's NameAbid
Enter your Roll no123

*******PIAIC********
Saylani Welfer Trust
Name: Asif
Father's Name: Abid
Roll No: 123

In [22]:
a = "pakistan"
b = "zinda bad"

a + b #Concatinact

'pakistanzinda bad'

In [23]:
a = 5
b = 7
a + b # Addition

12

In [ ]:
5 + 7

# Operators

In [ ]:
# Pemdas
+, -, * , /, %, //, ** # Mathmatics

=, +=, -=, *=, /=, %= # Assign Operator

==, >, <, >=, <=, != # Logical Operator

and, or # Combine logic checking

# +, -, * , /, %, // # Mathmatics

In [24]:
5 + 2

7

In [25]:
4 - 2

2

In [26]:
3 * 5

15

In [27]:
12 / 3

4.0

In [28]:
15 % 4

3

In [29]:
15 / 4

3.75

In [30]:
15 // 4

3

In [31]:
15 // 4.0

3.0

In [32]:
# 2 * 2 * 2 = 8
2 ** 3

8

In [ ]:
2 + 6 * 8 / 5 + (2*3)

# pemdas
2 + 6 * 8 / 5 + (2*3)
2 + 6 * 8 / 5 + 6
2 + 48 / 5 + 6
2 + 9.5 + 6
2 + 15.6
17.6

# =, +=, -=, *=, /=, %=, **= # Assign Operator

In [33]:
a = "Pakistan"
a

'Pakistan'

In [34]:
a = 'china'
a

'china'

In [35]:
a * 2

'chinachina'

In [36]:
a = "abc"
a

'abc'

In [37]:
a += " xyz"
a

'abc xyz'

In [38]:
a *= 2
a

'abc xyzabc xyz'

In [39]:
a %= 2

TypeError: not all arguments converted during string formatting

In [40]:
a = 15
a %= 4
a

3

In [41]:
#3 * 3 * 3
a **= 3
a

27

In [42]:
a = "abv"
a **= 2
a

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

# ==, >, <, >=, <=, !=, <> # Logical Operator

In [43]:
5 == 5

True

In [44]:
5 == 3

False

In [45]:
5 > 3

True

In [46]:
5 < 3

False

In [47]:
5 > 5

False

In [48]:
5 >= 5

True

In [49]:
5 != 5

False

In [50]:
5 != 5

False

In [51]:
6 < 6

False

In [52]:
6 <= 6

True

In [53]:
5 == 5 and 6 <= 7 and 10 >= 9
# True and True and True
# True

True

In [54]:
5 == 5 and 9 <= 7 and 10 >= 9
# True and False and True
# False

False

In [55]:
5 == 5 or 6 <= 7 or 10 >= 9
# True or True or True
# True

True

In [56]:
5 == 7 or 6 <= 7 or 10 >= 11
# False or True or False
# True

True

In [ ]:
True | False # OR

In [57]:
True & True & False # AND

False

or , |
and , &

In [58]:
a = 'abc'
b = 'xyz'
c = '27'

a + b + c

'abcxyz27'

In [59]:
a = 'abc'
b = 'xyz'
c = '27'

print(a,b,c)

abc xyz 27

In [60]:
a = 'abc'
b = 'xyz'
c = 27

a + b + c

TypeError: can only concatenate str (not "int") to str

In [61]:
a = 'abc'
b = 'xyz'
c = 27

print(a,b,c)

abc xyz 27

In [62]:
a = 'abc'
b = 'xyz'
c = 27

a + b + str(c)

'abcxyz27'

In [63]:
a = '1'
b = '1'
a + b

'11'

In [64]:
a = input()
b = input()

a + b

1
1

'11'

In [65]:
int(a) + int(b)

2

In [66]:
float(a) + float(b)

2.0

In [67]:
a+b

'11'

In [68]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# Control Flow

loop (for , while)
exception
if else elif
switch

# If, else, elif

if logic:
    true value
else:
    false value

if logic1:
    true value 1
elif logic2:
    true value 2
elif logic3:
    true value 3
else:
    false value

if logic1 and logic2 and logic3:
    value true
else:
    false value

In [69]:
name = input("Entery your Name")

if name == 'qasim':
    print("Teacher")
else:
    print("Student")

Entery your Nameqasim
Teacher

In [70]:
name = input("Entery your Name")

if name == 'qasim':
    print("Teacher")
else:
    print("Student")

Entery your NameQasim
Student

In [71]:
name = input("Entery your Name")

if name.lower() == 'qasim':
    print("Teacher")
else:
    print("Student")

Entery your NameQaSiM
Teacher

In [72]:
per = 78

if per >= 0:
    print("Fail")
elif per >= 33:
    print("E")
elif per >= 40:
    print("D")
elif per>=50:
    print("C")
elif per>=60:
    print("B")
elif per>=70:
    print("A")
elif per>=80:
    print("A+")

Fail

In [73]:
per = 79

if per >= 0 and per <33:
    print("Fail")
elif per >= 33 and per<40:
    print("E")
elif per >= 40 and per<50:
    print("D")
elif per>=50 and per<60:
    print("C")
elif per>=60 and per<70:
    print("B")
elif per>=70 and per<80:
    print("A")
elif per>=80 and per<=100:
    print("A+")
else:
    print("Not valid")

A

In [74]:
per = 78

if per>=80:
    print("A+")
elif per>=70:
    print("A")
else:
    print("Fail")

A

In [75]:
names = ['qasim','asif','kashif']
names

['qasim', 'asif', 'kashif']

In [76]:
names[2] #ref[indexNumber]

'kashif'

In [77]:
names

['qasim', 'asif', 'kashif']

In [78]:
names[2] = "Kamran"
names

['qasim', 'asif', 'Kamran']

In [79]:
names = []
while True:
    a = input("names")
    if a!= 'x':
        names.append(a)
    else:
        break

names

namesAli
namesRAshid
namesKamran
namesKonain
namesHamza
namesx

['Ali', 'RAshid', 'Kamran', 'Konain', 'Hamza']