Pre define functions<br>
anyName() #pre define function<br>
ref.anyName() # Pre define method<Br>
ref.anyName # Attributes
    
# Operators

# Control flow

In [ ]:
print("Saylani@729")

In [ ]:
a = "PakiStan"
print(a)
print(type(a))

# String Class Method and Attributes

In [ ]:
a = "paKistan ziNda bad"
print(a)

In [ ]:
a.capitalize() #inline

In [ ]:
a.upper()

In [ ]:
a.title()

In [ ]:
print(a)

In [ ]:
a.lower()

In [ ]:
help(print)

In [ ]:
print?

In [ ]:
a.center??

In [ ]:
abc = """
Saylani Welfer Trust
City: Karachi
Country: Pakistan
"""

print(abc)

In [ ]:
abc = '''
Saylani Welfer Trust
City: Karachi
Country: Pakistan
'''

print(abc)

In [ ]:
abc = """
*******PIAIC********
Saylani Welfer Trust
Name: Muhammad Qasim
Father's Name: Muhammad Aslam
Roll No: 786
"""

print(abc)

In [ ]:
name = "Muhammad Qasim"
father_name = "Muhammad Aslam"
roll_no = 786

abc = """
*******PIAIC********
Saylani Welfer Trust
Name: {}
Father's Name: {}
Roll No: {}
"""

print(abc.format(name,father_name, roll_no))

In [ ]:
a=print("pakistan")
print(a)

In [ ]:
a = input("Enter Name")
a

In [ ]:
name = input("Enter your name")
father_name = input("Enter your Father's Name")
roll_no = input("Enter your Roll no")

abc = """
*******PIAIC********
Saylani Welfer Trust
Name: {}
Father's Name: {}
Roll No: {}
"""

print(abc.format(name, father_name, roll_no))

In [ ]:
a = "pakistan"
b = "zinda bad"

a + b #Concatinact

In [ ]:
a = 5
b = 7
a + b # Addition

In [ ]:
5 + 7

# Operators

In [ ]:
# Pemdas
+, -, * , /, %, //, ** # Mathmatics

=, +=, -=, *=, /=, %= # Assign Operator

==, >, <, >=, <=, != # Logical Operator

and, or # Combine logic checking

# +, -, * , /, %, // # Mathmatics

In [ ]:
5 + 2

In [ ]:
4 - 2

In [ ]:
3 * 5

In [ ]:
12 / 3

In [ ]:
15 % 4

In [ ]:
15 / 4

In [ ]:
15 // 4

In [ ]:
15 // 4.0

In [ ]:
# 2 * 2 * 2 = 8
2 ** 3

In [ ]:
2 + 6 * 8 / 5 + (2*3)

# pemdas
2 + 6 * 8 / 5 + (2*3)
2 + 6 * 8 / 5 + 6
2 + 48 / 5 + 6
2 + 9.5 + 6
2 + 15.6
17.6

# =, +=, -=, *=, /=, %=, **= # Assign Operator

In [ ]:
a = "Pakistan"
a

In [ ]:
a = 'china'
a

In [ ]:
a * 2

In [ ]:
a = "abc"
a

In [ ]:
a += " xyz"
a

In [ ]:
a *= 2
a

In [ ]:
a %= 2

In [ ]:
a = 15
a %= 4
a

In [ ]:
#3 * 3 * 3
a **= 3
a

In [ ]:
a = "abv"
a **= 2
a

# ==, >, <, >=, <=, !=, <> # Logical Operator

In [ ]:
5 == 5

In [ ]:
5 == 3

In [46]:
5 > 3

True

In [47]:
5 < 3

False

In [48]:
5 > 5

False

In [49]:
5 >= 5

True

In [50]:
5 != 5

False

In [51]:
5 != 5

False

In [52]:
6 < 6

False

In [53]:
6 <= 6

True

In [54]:
5 == 5 and 6 <= 7 and 10 >= 9
# True and True and True
# True

True

In [55]:
5 == 5 and 9 <= 7 and 10 >= 9
# True and False and True
# False

False

In [56]:
5 == 5 or 6 <= 7 or 10 >= 9
# True or True or True
# True

True

In [57]:
5 == 7 or 6 <= 7 or 10 >= 11
# False or True or False
# True

True

In [58]:
True | False # OR

True

In [59]:
True & True & False # AND

False

or , |
and , &

In [60]:
a = 'abc'
b = 'xyz'
c = '27'

a + b + c

'abcxyz27'

In [61]:
a = 'abc'
b = 'xyz'
c = '27'

print(a,b,c)

abc xyz 27

In [62]:
a = 'abc'
b = 'xyz'
c = 27

a + b + c

TypeError: can only concatenate str (not "int") to str

In [63]:
a = 'abc'
b = 'xyz'
c = 27

print(a,b,c)

abc xyz 27

In [64]:
a = 'abc'
b = 'xyz'
c = 27

a + b + str(c)

'abcxyz27'

In [65]:
a = '1'
b = '1'
a + b

'11'

In [66]:
a = input()
b = input()

a + b

1
1

'11'

In [67]:
int(a) + int(b)

2

In [68]:
float(a) + float(b)

2.0

In [69]:
a+b

'11'

In [70]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# Control Flow

loop (for , while)
exception
if else elif
switch

# If, else, elif

if logic:
    true value
else:
    false value

if logic1:
    true value 1
elif logic2:
    true value 2
elif logic3:
    true value 3
else:
    false value

if logic1 and logic2 and logic3:
    value true
else:
    false value

In [71]:
name = input("Entery your Name")

if name == 'qasim':
    print("Teacher")
else:
    print("Student")

Entery your Nameqasim
Teacher

In [72]:
name = input("Entery your Name")

if name == 'qasim':
    print("Teacher")
else:
    print("Student")

Entery your NameQasim
Student

In [73]:
name = input("Entery your Name")

if name.lower() == 'qasim':
    print("Teacher")
else:
    print("Student")

Entery your NameQaSiM
Teacher

In [74]:
per = 78

if per >= 0:
    print("Fail")
elif per >= 33:
    print("E")
elif per >= 40:
    print("D")
elif per>=50:
    print("C")
elif per>=60:
    print("B")
elif per>=70:
    print("A")
elif per>=80:
    print("A+")

Fail

In [75]:
per = 79

if per >= 0 and per <33:
    print("Fail")
elif per >= 33 and per<40:
    print("E")
elif per >= 40 and per<50:
    print("D")
elif per>=50 and per<60:
    print("C")
elif per>=60 and per<70:
    print("B")
elif per>=70 and per<80:
    print("A")
elif per>=80 and per<=100:
    print("A+")
else:
    print("Not valid")

A

In [76]:
per = 78

if per>=80:
    print("A+")
elif per>=70:
    print("A")
else:
    print("Fail")

A

In [77]:
names = ['qasim','asif','kashif']
names

['qasim', 'asif', 'kashif']

In [78]:
names[2] #ref[indexNumber]

'kashif'

In [79]:
names

['qasim', 'asif', 'kashif']

In [80]:
names[2] = "Kamran"
names

['qasim', 'asif', 'Kamran']

In [81]:
names = []
while True:
    a = input("names")
    if a!= 'x':
        names.append(a)
    else:
        break

names

namesQasim
namesAsif
namesHamza
namesRashid
namesx

['Qasim', 'Asif', 'Hamza', 'Rashid']